<h2>{{fullLocation}}</h2>
<ul>
  {{#each sortedRentals as |rental|}}
    <li>{{rental-tile rental=rental}}</li>
  {{/each}}
</ul>

<br>
<button class="btn btn-danger" {{action 'destroyCity' city}}>Destroy City!</button>
