<div class="row">
  <div class="col-sm-8">
    {{#each model as |announcement|}}
      {{#if (filtering-posts announcement thing)}}
        {{announcement-tile announcement=announcement deleteAnnouncement="deleteAnnouncement"}}
      {{/if}}
    {{/each}}
  </div>
  <div class="col-sm-4">
    {{new-announcement sendCreateAnnouncement="sendAnnouncement"}}
    <hr>
    <h3>Filter Announcement</h3>
    {{filter-announcements announcement=announcement sendFilterType="setFilter"}}
  </div>
</div>
