<h1>Announcements</h1>
<br>
<div class="row">
  <div class="col-sm-8">
    {{#each model as |announcement|}}
      {{announcement-tile announcement=announcement deleteAnnouncement="deleteAnnouncement"}}
    {{/each}}
  </div>
  <div class="col-sm-4">
    {{new-announcement sendCreateAnnouncement="saveAnnouncement"}}

  </div>
</div>
