<h1>Announcements</h1>

{{new-announcement sendCreateAnnouncement="saveAnnouncement"}}

{{#each model as |announcement|}}
  {{announcement-tile announcement=announcement deleteAnnouncement="deleteAnnouncement"}}
{{/each}}

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
