<p>Super Rentals is here to find you some where to stay. Yay!</p>

<p>Call us or email us, or send us a postcard</p>

<p> Super Rentals<br>
  124 Sesame St.<br>
  Philadelphia, PA, 12345</p>
  <p> 555-555-4321</p>
  <p>boss@superrentals.biz</p>

  {{#link-to 'about'}}Learn More About Us.{{/link-to}}
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'announcements'}}Announcements{{/link-to}}
  
