<h1>Welcome to Super Rentals!</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>
<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      {{#each model as |rental|}}
        {{rental-tile rental=rental destroyRental="destroyRental" update="update"}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-6">
    {{new-rental save2="save3"}}
  </div>
</div>
